.container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
mat-toolbar{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: rgba(black,0.85);
  color: rgba(white,0.9);
}
mat-card{
  background-color: rgba(white,1);
}