mat-card, .loader{
  height: calc(100vh - (150px));
  position: sticky;
  top:16px;
  left:0;
}

.loader{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 400px;
  height:400px;
  display: flex;
  flex-direction: column;
}
#file-input{
  display:none
}
#previewFuncionario{
  display:flex;
  height:200px;
  border-radius: 5px;
  margin:0 auto;}