<div class="loader" *ngIf="funcionario == undefined; else cardFuncionario">
  <p>Procurando Funcionario...</p>
  <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</div>
<ng-template #cardFuncionario>
  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="funcionario.foto.length!=0?funcionario.foto:fotoDefault">
      <mat-card-title>{{funcionario.nome}}</mat-card-title>
      <mat-card-subtitle>{{funcionario.email}}</mat-card-subtitle>
    </mat-card-header>
    <div class="container">
      <mat-card-content>
        <img [src]="fotoPreview.length!=0?fotoPreview:fotoDefault" alt="" id="previewFuncionario">
        <form action="" [formGroup]="formFuncionario" (ngSubmit)="atualizarFuncionario()">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input type="text" matInput name="nome" formControlName="nome">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input type="email" matInput name="email" formControlName="email">
          </mat-form-field>

          <input type="file" accept="image/*" name="foto" id="file-input" #fileinput (change)="recuperarFoto($event)">
          <button type="button" mat-stroked-button color="primary" (click)="fileinput.click()">Selecione uma
            imagem</button>
          <button type="submit" mat-stroked-button color="warn" [disabled]="formFuncionario.invalid">Atualizar</button>
        </form>
      </mat-card-content>
    </div>
  </mat-card>

  <ng-template>