<div class="container">
  <aside id="lateral">
    <h2> Funcionario </h2>
  </aside>

  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.id}}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> nome </th>
        <td mat-cell *matCellDef="let funcionario"> <a [routerLink]="funcionario.id"
            routerLinkActive="ativo">{{funcionario.nome}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.email}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletarFuncionario(funcionario)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </main>
</div>

<div class="example-button-container" mat-raised-button (click)="openAddFuncionario()">
  <button mat-mini-fab color="primary" aria-label="Add Funcionario">
    <mat-icon>add</mat-icon>
  </button>
</div>